<h1>Welcome to our Non-Profit Projects Site</h1>

<form action="/" method="post">
  <label for="new_project">Add a New Project</label>
  <input type="text" name="new_project">
  <button type="submit" class="btn btn-info" name="button">Add</button>
</form>
