<h1>Update the  <%=@project.title() %> Project</h1>



<form action="/project/<%= @project.id %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="edit_project">Edit the Project: <%= @project.title %></label>
  <input id="title" type="text" name="edit_project">
  <button type="submit" class="btn btn-info">Update Project</button>
</form>

<h1>Delete a Project</h1>

<form action="/project/<%= @project.id %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">

  <button class="btn btn-danger" type="submit">Delete Project</button>
</form>

<a href="/">Return to Home</a>
